@import '_constants.scss';
.titleSlide {
    position: relative;
    top: 0;
    height: 90vh;
    width: 100%;
    background-position: center;
}
.title {
    position: absolute;
    left: 6%;
    bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentWork {
    max-width: 1200px;
    margin: 5rem auto;
    h1 {
        margin-left: 2rem;
    }
    .recentPosts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.categories {
    display: flex;
    flex-direction: column;
    align-items: center;

    .verticalLine {
        min-height: 100px;
        width: 0;
        margin: 0 auto;
        border: solid 0.5px $grey;
    }

    .options {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 744px) {
    .recentPosts {
        flex-direction: column;
        align-items: center;
    }
}