@import '_constants.scss';
.titleSlide {
    position: relative;
    top: 0;
    height: 90vh;
    width: 100%;
    background-position: center;
}
.title {
    position: absolute;
    left: 6%;
    bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesWrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .verticalLine {
        min-height: 100px;
        width: 0;
        margin: 0 auto;
        border: solid 0.5px $grey;
        transform: scaleY(15px)
    }
    .categories {
        animation: fadeInDown 0.5s;
    }
    .categories.hide {
        display: none;
    }
    .categories.show {
        display: block;
    }
    .options {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 744px) {
    .recentPosts {
        flex-direction: column;
        align-items: center;
    }
}