.container {
    width: 250px;
    margin: 2rem 2rem;
    .image {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position:center;
    }
    h3 {
        margin-top: 1rem;
        text-align: center;
    }
    .description {
        text-align: justify;
    }
}

.title {
    h3 {
        text-decoration: none;
    }
    h3:hover {
        text-decoration: underline;
    }
}