.container {
    max-width: 1400px;
    margin: 5rem auto;
    h1 {
        text-align: center;
    }
    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

h1.left {
    text-align: left;
    margin-left: 2rem;
}

@media (max-width: 769px) {
    .container {
        .posts {
            justify-content: center;
        }
    }
}