@import '_constants';
.project {
    margin: 2rem auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    .visual {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .videoWrap {
            width: 100%;
            height: 100%*9/16;
            margin: 0 1rem;
        }
        .thumbWrap {
            width: 30%;
            cursor: pointer;
            background: transparent;
        }
        .thumbWrap.first {
            width: 100%;
        }
        .thumb {
            width: 100%;
            background-position: center;
            background-size: cover;
            margin: 1rem 0;
            &.first {
                margin-top: 0;
            }
        }
    }

    .reading {
        width: 40%;
        margin: 0 1rem;
    }
}

.lightboxContainer {
    .navIcon {
        font-size: 30px;
        color: $grey;
        cursor: pointer;
        opacity: .8;
    }
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}